header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.categorias {
    display: flex;
    justify-content: space-between; /* Espaçamento entre os itens */
    align-items: center; /* Alinha verticalmente */
    padding: 1.5em; 
    width: 60%;
  }

  nav{
    display: flex;
    width: 100%; /* Garante que a nav ocupe toda a largura disponível */
    justify-content: space-between; /* Espaça os itens entre si */
    padding: 0 2em; /* Adiciona algum padding para afastar da borda */
  }

.logo {
    width: 2.8125rem;
    height: 2.8125rem;
    margin-left: 2em ;
    margin-right: 2em;
}

form {
    display: flex;
    width: 50%;
  }
  
  .input-group {
    display: flex;
    width: 100%; /* Garante que o grupo ocupe toda a largura do form */
  }
  
  .Pesquisa {
    width: 100%; /* Deixa o input ocupar todo o espaço disponível */
    height: 2.4375rem;
    border-radius: 0.625rem;
    border: 3px solid #C1C1C1;
    background: rgba(217, 217, 217, 0.00);
    padding-left: 1em;
  }
  
  .BtnPesquisa {
    width: 20px; 
    height: 20px; 
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.navbar-nav {
    display: flex;
    margin-left: auto; /* Espaço automático à esquerda */
}

.IconsNav {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem; /* Espaçamento entre ícones e texto */
    filter: invert(71%) sepia(50%) saturate(863%) hue-rotate(326deg) brightness(96%) contrast(97%); /* Filtro para os ícones */
}

.nav-link {
    color: #F29544; 
    padding: 0.5rem 1rem; /* Espaçamento interno dos links */
    transition: color 0.3s; 
}

.nav-link:hover {
    color: #d68a2e; /* Cor do texto ao passar o mouse */
}

/* Parte inferior da nav */

/* Estilos para o Dropdown */
.dropdown {
    border-radius: 0.3125rem; 
    background: #687343; 
    color: #FAFAFA; 
    position: relative;
}

.dropdown-toggle {
    color: #FAFAFA;
    background: transparent; 
    padding: 0.5rem 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

